.clients-section {
  background-color: $main-background-color;

  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-section__headline {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1200px) {
    justify-content: center;
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $button-icon-grey;

  border: 1px solid $button-icon-grey;
  border-radius: 4px;

  height: 92px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }

  @media screen and (max-width: 767px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list__item {
  &:not(:last-child) {
    @media screen and (max-width: 479px) {
    }
    margin-bottom: 10px;
  }

  &:nth-child(2n + 1) {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      margin-right: 30px;
    }
  }

  &:nth-child(-n + 4) {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &:nth-child(-n + 2) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
      margin-right: 30px;
    }
  }

  &:nth-child(4) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
    }
  }

  &:nth-child(5) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
    }
  }

  &:nth-child(-n + 5) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}
