.header {
  background-color: $white-color;
  border-bottom: 1px solid $header-bottom-line;
  position: relative;
}

.navigation {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.menu-button {
  border: none;
  background-color: transparent;
  display: inline-flex;
  margin: 0;
  padding: 0;
  z-index: 2;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-cross__close {
  display: none;
}

.menu-button.is-open .icon-cross__close {
  display: block;
}

.menu-button.is-open .icon-menu__menu {
  display: none;
}

.nav-menu {
  @media screen and (max-width: 767px) {
    background-color: $white-color;

    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 48px 40px;
    width: 100vw;
    height: 100vh;

    justify-content: space-between;

    &.is-open {
      display: flex;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;

    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.site-nav {
  @media screen and (max-width: 767px) {
    margin-bottom: auto;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 96px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 92px;
    margin-right: 315px;
  }
}

.site-nav__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 51px;
    }
  }
}

.site-nav__link {
  display: block;
  color: $title-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    text-align: left;
    font-size: 40px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }

  // padding-top: 32px;
  // padding-bottom: 32px; - DOBAVIT NA DESKTOPE
}

.contact {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.contact__item {
  @media screen and (max-width: 767px) {
    &:last-child {
      margin-bottom: 32px;
    }

    &:first-child {
      margin-bottom: 64px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-right: 30px;
    }
  }
}

.contact__link {
  color: $primary-text-color;
  fill: $primary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  &.contact__link--phone {
    @media screen and (min-width: 250px) and (max-width: 379px) {
      font-size: 24px;
      color: $accent-color;
    }

    @media screen and (min-width: 380px) and (max-width: 767px) {
      font-size: 34px;
      color: $accent-color;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
  }

  &.contact__link--email {
    @media screen and (min-width: 320px) and (max-width: 379px) {
      font-size: 18px;
    }

    @media screen and (min-width: 380px) and (max-width: 767px) {
      font-size: 24px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

.site-nav__link--current {
  color: $accent-color;
  position: relative;

  &::after {
    @media screen and (min-width: 768px) {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background: $accent-color;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }
}

.contact__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.some-mobile__list {
  @media screen and (min-width: 320px) and (max-width: 409px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 410px) and (max-width: 767px) {
    display: flex;
    justify-content: flex-start;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.some-mobile__link {
  color: $accent-color;
  line-height: 1.22;
  letter-spacing: 00.02em;
  font-size: 18px;
}

.some-mobile__item {
  position: relative;

  @media screen and (min-width: 320px) and (max-width: 403px) {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  @media screen and (min-width: 404px) and (max-width: 409px) {
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:nth-child(n + 2)::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #21212120;
      width: 22px;
      height: 1px;
      top: 90%;
      left: -7%;
      transform-origin: bottom left;

      transform: rotate(-90deg);
    }
  }

  @media screen and (min-width: 410px) and (max-width: 767px) {
    font-size: 18px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:nth-child(n + 2)::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #21212120;
      width: 22px;
      height: 1px;
      top: 90%;
      left: -12%;
      transform-origin: bottom left;

      transform: rotate(-90deg);
    }
  }
}
